*{
    margin: 0;
    padding: 0;
    font-family: Arial; 
    box-sizing: border-box; 
}


body{
    width: 80%;
    margin: 0 auto; 

}


.title{
    /* margin: 100px; */
    /* width: z00%; */
    position: relative; 
    top: 30px; 
    left: 30px;
    padding: 20px;
    height: 300px;

}
 
.container{ 
    width: 100%; 
    min-height: 100vh; 
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;   /* cross axis */ 
    justify-content: center;   /* main axis */
    }  

h1 {
    /* rem */
    font-size: 5rem;
    color:rgb(0, 255, 238); 

}

h1:hover {
    color: rgb(255, 255, 255);
}

.nav-container{
    font-family: calibri; 
    padding-right: 15px;
    padding-left: 15px;
    /* background-color: rgb(114, 25, 170); */
    background: rgb(65, 113, 197);

}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navdiv ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0; 
    gap: 0;
}


.rectangle { 
    width: 200;
    height: 100;
    background-color: #4e085f;
}